.wrapper .header-menu--action-create, .wrapper .header-menu--action-choose-pseudobutton, .wrapper .header-menu--action-choose-dropdown {
  background-color: #f7c9f3;
  border: 1px solid #110038;
  -webkit-box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
          box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
  color: #110038;
  font-size: 16px;
  height: 36px;
  line-height: 18px;
  text-align: center;
  width: 144px;
}

body {
  margin: 0;
}

.wrapper {
  background-color: #fff4fd;
}

.wrapper .wrapper-page {
  padding: 0 5%;
}

.wrapper .header--upper-bar {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #4180f6;
  background: -webkit-gradient(linear, left top, right top, from(#4180f6), to(#f7c9f3));
  background: linear-gradient(90deg, #4180f6 0%, #f7c9f3 100%);
  -webkit-box-shadow: 0 1px 0 0 #110038;
          box-shadow: 0 1px 0 0 #110038;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 12px;
  height: 23px;
  padding-left: 15px;
}

.wrapper .header-menu {
  margin-top: 35px;
}

.wrapper .header-menu-logo {
  float: left;
}

.wrapper .header-menu--action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: right;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 460px;
}

.wrapper .header-menu--action-create:hover {
  cursor: pointer;
}

.wrapper .header-menu--action-choose {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.wrapper .header-menu--action-choose-pseudobutton {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wrapper .header-menu--action-choose-dropdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 36px;
}

.wrapper .header-menu--action-choose-content {
  background: #e6e6e6;
  -webkit-box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
          box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
  display: none;
  position: absolute;
  top: 38px;
  width: 184px;
}

.wrapper .header-menu--action-choose-content-option {
  background: #f0f0f0;
  border: 1px solid #808080;
  -webkit-box-shadow: inset -1px -1px 0 0 #b4b4b4, inset 1px 1px 0 0 #ffffff;
          box-shadow: inset -1px -1px 0 0 #b4b4b4, inset 1px 1px 0 0 #ffffff;
  color: #110038;
  font-family: ChakraPetch-Regular, Sans-serif;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 22px;
  padding: 7px 0 7px 16px;
}

.wrapper .header-menu--action-guifos {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: #110038;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 18px;
}

.wrapper .search-menu {
  margin-top: 20px;
  width: 100%;
}

.wrapper .search-menu--header {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: -webkit-gradient(linear, right top, left top, from(#f7c9f3), to(#4180f6));
  background-image: linear-gradient(270deg, #f7c9f3 0%, #4180f6 100%);
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Chakra Petch', sans-serif;
  font-size: 14px;
  font-weight: bold;
  height: 24px;
  padding-left: 5px;
}

.wrapper .search-menu--content {
  background: #e6e6e6;
  -webkit-box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
          box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 12px;
}

.wrapper .search-menu--content-input {
  background: #ffffff;
  border: 1px solid #979797;
  -webkit-box-shadow: inset -2px -2px 0 0 #e6e6e6, inset 2px 2px 0 0 #000000;
          box-shadow: inset -2px -2px 0 0 #e6e6e6, inset 2px 2px 0 0 #000000;
  color: #b4b4b4;
  font-size: 16px;
  height: 48px;
  letter-spacing: 0;
  line-height: 22px;
  padding-left: 15px;
  width: 87%;
}

.wrapper .search-menu--content-button {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  background: #e6e6e6;
  border: 1px solid #808080;
  -webkit-box-shadow: inset -1px -1px 0 0 #b4b4b4, inset 1px 1px 0 0 #ffffff;
          box-shadow: inset -1px -1px 0 0 #b4b4b4, inset 1px 1px 0 0 #ffffff;
  color: #b4b4b4;
  font-family: ChakraPetch-Regular, sans-serif;
  font-size: 16px;
  height: 36px;
  letter-spacing: 0;
  line-height: 18px;
  width: 100px;
}

.wrapper .search-menu--content-button-lupa {
  margin-right: 10px;
}

.wrapper .menu-sugerencia {
  margin-top: 65px;
}

.wrapper .menu-sugerencia--title {
  background: #fffafe;
  border: 1px solid #e6bbe2;
  -webkit-box-shadow: inset -2px -2px 0 0 #e6dce4, inset 2px 2px 0 0 #80687d;
          box-shadow: inset -2px -2px 0 0 #e6dce4, inset 2px 2px 0 0 #80687d;
  color: #110038;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: ChakraPetch-Regular, sans-serif;
  font-size: 14px;
  letter-spacing: 0;
  padding: 7px 0 7px 7px;
}

.wrapper .menu-sugerencia--cards-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.wrapper .menu-sugerencia--cards-wrapper .sugerencias-card-wrapper--img-container {
  color: white;
  margin: 0 1rem 1rem 0;
  text-align: center;
}

.wrapper .menu-sugerencia--cards-wrapper .sugerencias-card-wrapper--img-container--note:hover {
  border: 2px solid rgba(0, 0, 0, 0.5);
}
/*# sourceMappingURL=index.css.map */