%button {
	background-color: #f7c9f3;
	border: 1px solid #110038;
	box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
	color: #110038;
	font-size: 16px;
	height: 36px;
	line-height: 18px;
	text-align: center;
	width: 144px;
	// letter-spacing: 0;
}
